In [1]:
import pandas as pd

In [2]:
X = pd.read_csv("C:\sandbox\workspace\python\explore_py_libs\Pandas\data_2d.csv", header=None)
type(X)

pandas.core.frame.DataFrame

In [3]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
0    100 non-null float64
1    100 non-null float64
2    100 non-null float64
dtypes: float64(3)
memory usage: 2.4 KB

In [4]:
X.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>17.930201</td>
      <td>94.520592</td>
      <td>320.259530</td>
    </tr>
    <tr>
      <th>1</th>
      <td>97.144697</td>
      <td>69.593282</td>
      <td>404.634472</td>
    </tr>
    <tr>
      <th>2</th>
      <td>81.775901</td>
      <td>5.737648</td>
      <td>181.485108</td>
    </tr>
    <tr>
      <th>3</th>
      <td>55.854342</td>
      <td>70.325902</td>
      <td>321.773638</td>
    </tr>
    <tr>
      <th>4</th>
      <td>49.366550</td>
      <td>75.114040</td>
      <td>322.465486</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
X.head(10)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>17.930201</td>
      <td>94.520592</td>
      <td>320.259530</td>
    </tr>
    <tr>
      <th>1</th>
      <td>97.144697</td>
      <td>69.593282</td>
      <td>404.634472</td>
    </tr>
    <tr>
      <th>2</th>
      <td>81.775901</td>
      <td>5.737648</td>
      <td>181.485108</td>
    </tr>
    <tr>
      <th>3</th>
      <td>55.854342</td>
      <td>70.325902</td>
      <td>321.773638</td>
    </tr>
    <tr>
      <th>4</th>
      <td>49.366550</td>
      <td>75.114040</td>
      <td>322.465486</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3.192702</td>
      <td>29.256299</td>
      <td>94.618811</td>
    </tr>
    <tr>
      <th>6</th>
      <td>49.200784</td>
      <td>86.144439</td>
      <td>356.348093</td>
    </tr>
    <tr>
      <th>7</th>
      <td>21.882804</td>
      <td>46.841505</td>
      <td>181.653769</td>
    </tr>
    <tr>
      <th>8</th>
      <td>79.509863</td>
      <td>87.397356</td>
      <td>423.557743</td>
    </tr>
    <tr>
      <th>9</th>
      <td>88.153887</td>
      <td>65.205642</td>
      <td>369.229245</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
#convert df to Matrix
from builtins import type

M=X.as_matrix()
type(M)

numpy.ndarray

In [7]:
M

array([[  1.79302012e+01,   9.45205920e+01,   3.20259530e+02],
       [  9.71446972e+01,   6.95932820e+01,   4.04634472e+02],
       [  8.17759008e+01,   5.73764810e+00,   1.81485108e+02],
       [  5.58543424e+01,   7.03259017e+01,   3.21773638e+02],
       [  4.93665500e+01,   7.51140402e+01,   3.22465486e+02],
       [  3.19270247e+00,   2.92562989e+01,   9.46188109e+01],
       [  4.92007841e+01,   8.61444385e+01,   3.56348093e+02],
       [  2.18828039e+01,   4.68415052e+01,   1.81653769e+02],
       [  7.95098627e+01,   8.73973555e+01,   4.23557743e+02],
       [  8.81538875e+01,   6.52056419e+01,   3.69229245e+02],
       [  6.07438543e+01,   9.99576339e+01,   4.27605804e+02],
       [  6.74155819e+01,   5.03683096e+01,   2.92471822e+02],
       [  4.83181158e+01,   9.91289531e+01,   3.95529811e+02],
       [  2.88299720e+01,   8.71849489e+01,   3.19031348e+02],
       [  4.38537427e+01,   6.44736391e+01,   2.87428144e+02],
       [  2.53136941e+01,   8.35452943e+01,   2.92768909e+02],
       [  1.08077267e+01,   4.56955686e+01,   1.59663308e+02],
       [  9.83657459e+01,   8.26973935e+01,   4.38798964e+02],
       [  2.91469100e+01,   6.63651068e+01,   2.50986309e+02],
       [  6.51003019e+01,   3.33538835e+01,   2.31711508e+02],
       [  2.46441135e+01,   3.95400527e+01,   1.63398161e+02],
       [  3.75598049e+01,   1.34572784e+00,   8.34801551e+01],
       [  8.81645062e+01,   9.51536626e+01,   4.66265806e+02],
       [  1.38346208e+01,   2.54940482e+01,   1.00886430e+02],
       [  6.44108437e+01,   7.72598381e+01,   3.65641048e+02],
       [  6.89259918e+01,   9.74536008e+01,   4.26140015e+02],
       [  3.94884422e+01,   5.08561282e+01,   2.35532389e+02],
       [  5.24631777e+01,   5.97765097e+01,   2.83291640e+02],
       [  4.84847870e+01,   6.69703542e+01,   2.98581440e+02],
       [  8.06208781e+00,   9.82426001e+01,   3.09234109e+02],
       [  3.27318877e+01,   1.88535355e+01,   1.29610139e+02],
       [  1.16523788e+01,   6.62645117e+01,   2.24150542e+02],
       [  1.37303535e+01,   7.04725091e+01,   2.35305666e+02],
       [  8.18555177e+00,   4.18519894e+01,   1.53484189e+02],
       [  5.36098761e+01,   9.45601216e+01,   3.94939444e+02],
       [  9.53686099e+01,   4.72955070e+01,   3.36126739e+02],
       [  8.73336092e+01,   9.38039343e+01,   4.49363352e+02],
       [  6.63576111e+01,   8.18475513e+01,   3.87014816e+02],
       [  1.97547175e+01,   6.55233009e+01,   2.40389442e+02],
       [  2.11334405e+01,   4.74371820e+01,   1.77148281e+02],
       [  2.23738648e+01,   2.59556275e+01,   1.19611258e+02],
       [  9.39904041e+01,   1.27890520e-01,   1.96716167e+02],
       [  8.67201981e+01,   1.84137668e+01,   2.36260808e+02],
       [  9.89983730e+01,   6.02312657e+01,   3.84381345e+02],
       [  3.59396564e+00,   9.62522173e+01,   2.93237183e+02],
       [  1.51023634e+01,   9.25569036e+01,   3.04890883e+02],
       [  9.78341408e+01,   2.02390810e+00,   2.01293598e+02],
       [  1.99382197e+01,   4.67782735e+01,   1.70610093e+02],
       [  3.03735111e+01,   5.87775252e+01,   2.42373484e+02],
       [  7.32928831e+01,   6.76696278e+01,   3.53082991e+02],
       [  5.22309009e+01,   8.19024483e+01,   3.48725689e+02],
       [  8.64295761e+01,   6.65402276e+01,   3.65959971e+02],
       [  9.34008021e+01,   1.80752459e+01,   2.35472382e+02],
       [  1.32134601e+01,   9.14888588e+01,   3.00606878e+02],
       [  4.59346270e+00,   4.63359315e+01,   1.45818745e+02],
       [  1.56692916e+01,   3.55437440e+01,   1.38880335e+02],
       [  5.29593598e+01,   6.87202096e+01,   3.17163708e+02],
       [  5.68175212e+01,   4.75727319e+01,   2.54903631e+02],
       [  5.11335431e+01,   7.80421675e+01,   3.34584334e+02],
       [  7.86216472e+00,   1.77290818e+01,   6.93555888e+01],
       [  5.46986037e+01,   9.27445841e+01,   3.86859937e+02],
       [  8.63990630e+01,   4.18886946e+01,   2.94871714e+02],
       [  1.19475060e+01,   4.29613867e+01,   1.56754220e+02],
       [  7.03584011e+01,   8.37062345e+01,   3.91806135e+02],
       [  2.90223663e+01,   8.43277831e+01,   3.19310463e+02],
       [  4.27594799e+01,   9.74933261e+01,   3.76291589e+02],
       [  9.62156564e+01,   2.58342826e+01,   2.80617044e+02],
       [  5.32277277e+01,   2.79055086e+01,   1.94430465e+02],
       [  3.03609897e+01,   9.39644215e-01,   6.96488632e+01],
       [  8.32775654e+01,   7.31793486e+01,   3.84597185e+02],
       [  3.01876925e+01,   7.14653860e+00,   8.95390084e+01],
       [  1.17884185e+01,   5.16977608e+01,   1.81550683e+02],
       [  1.82924240e+01,   6.19779760e+01,   2.24773383e+02],
       [  9.67126677e+01,   9.02910151e+00,   2.19567094e+02],
       [  3.10127387e+01,   7.82833825e+01,   2.98490216e+02],
       [  1.13972608e+01,   6.17286932e+01,   1.99944045e+02],
       [  1.73925558e+01,   4.24114086e+00,   4.39156924e+01],
       [  7.21826937e+01,   3.45390722e+01,   2.56068378e+02],
       [  7.39800208e+01,   3.71649344e+00,   1.59372581e+02],
       [  9.44930584e+01,   8.84171970e+01,   4.47132704e+02],
       [  8.45628207e+01,   2.02411622e+01,   2.33078830e+02],
       [  5.17424740e+01,   1.10097480e+01,   1.31070180e+02],
       [  5.37485904e+01,   6.00251023e+01,   2.98814333e+02],
       [  8.50508348e+01,   9.57369970e+01,   4.51803523e+02],
       [  4.67772505e+01,   9.02022062e+01,   3.68366436e+02],
       [  4.97584342e+01,   5.28344944e+01,   2.54706774e+02],
       [  2.41192565e+01,   4.21028108e+01,   1.68308433e+02],
       [  2.72015765e+01,   2.99787493e+01,   1.46342260e+02],
       [  7.00959617e+00,   5.58760584e+01,   1.76810149e+02],
       [  9.76469497e+01,   8.14762513e+00,   2.19160280e+02],
       [  1.38298251e+00,   8.49440869e+01,   2.52905653e+02],
       [  2.23235304e+01,   2.75150750e+01,   1.27570479e+02],
       [  4.50454062e+01,   9.35204022e+01,   3.75822340e+02],
       [  4.01639915e+01,   1.61699235e-01,   8.03890193e+01],
       [  5.31827398e+01,   8.17031616e+00,   1.42718183e+02],
       [  4.64567792e+01,   8.20001709e+01,   3.36876154e+02],
       [  7.71303007e+01,   9.51887595e+01,   4.38460586e+02],
       [  6.86006076e+01,   7.25711807e+01,   3.55900287e+02],
       [  4.16938871e+01,   6.92411260e+01,   2.84834637e+02],
       [  4.14266940e+00,   5.22547264e+01,   1.68034401e+02]])

In [10]:
# in pandas dataframe this will retrive the column that have name 0 
X[0]

0     17.930201
1     97.144697
2     81.775901
3     55.854342
4     49.366550
5      3.192702
6     49.200784
7     21.882804
8     79.509863
9     88.153887
10    60.743854
11    67.415582
12    48.318116
13    28.829972
14    43.853743
15    25.313694
16    10.807727
17    98.365746
18    29.146910
19    65.100302
20    24.644113
21    37.559805
22    88.164506
23    13.834621
24    64.410844
25    68.925992
26    39.488442
27    52.463178
28    48.484787
29     8.062088
        ...
70    30.187692
71    11.788418
72    18.292424
73    96.712668
74    31.012739
75    11.397261
76    17.392556
77    72.182694
78    73.980021
79    94.493058
80    84.562821
81    51.742474
82    53.748590
83    85.050835
84    46.777250
85    49.758434
86    24.119257
87    27.201576
88     7.009596
89    97.646950
90     1.382983
91    22.323530
92    45.045406
93    40.163991
94    53.182740
95    46.456779
96    77.130301
97    68.600608
98    41.693887
99     4.142669
Name: 0, Length: 100, dtype: float64

In [13]:
# in numpy matrice this will retrive the row that have index 0 
M[0]

array([  17.93020121,   94.52059195,  320.2595296 ])

In [18]:
# how to get row with pandas :
X.iloc[0]

0     17.930201
1     94.520592
2    320.259530
Name: 0, dtype: float64

In [20]:
#or but deprecated
X.ix[0]

0     17.930201
1     94.520592
2    320.259530
Name: 0, dtype: float64

In [23]:
# selection in pandas :
# select all rows in 0 column that  are less than 5
X[X[0] < 5]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <td>3.192702</td>
      <td>29.256299</td>
      <td>94.618811</td>
    </tr>
    <tr>
      <th>44</th>
      <td>3.593966</td>
      <td>96.252217</td>
      <td>293.237183</td>
    </tr>
    <tr>
      <th>54</th>
      <td>4.593463</td>
      <td>46.335932</td>
      <td>145.818745</td>
    </tr>
    <tr>
      <th>90</th>
      <td>1.382983</td>
      <td>84.944087</td>
      <td>252.905653</td>
    </tr>
    <tr>
      <th>99</th>
      <td>4.142669</td>
      <td>52.254726</td>
      <td>168.034401</td>
    </tr>
  </tbody>
</table>
</div>

In [24]:
X[0] < 5

0     False
1     False
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
      ...
70    False
71    False
72    False
73    False
74    False
75    False
76    False
77    False
78    False
79    False
80    False
81    False
82    False
83    False
84    False
85    False
86    False
87    False
88    False
89    False
90     True
91    False
92    False
93    False
94    False
95    False
96    False
97    False
98    False
99     True
Name: 0, Length: 100, dtype: bool